<mat-chip-list></mat-chip-list> <!--for chip styling-->
<div class="page-container">
    <mat-card class="card">
        <mat-card-title class="card__title">
            Påmeldingsliste
            <div class="arrKode">(ArrKode: {{arrKode$ | async}})</div>
        </mat-card-title>
        <mat-card-content class="card__content">
            <p>Fyll inn navnet på de startende og angi startnummer. Velg forslag fra medlemslista eller legg til navn manuelt hvis de ikke finnes.</p>
            <div class="paameldinger">

                <mat-card class="paameldinger__input container">
                    <form #f="ngForm">
                        <div class="row">
                            <div class="col-lg-2">
                                <mat-form-field class="paamelding-field" appearance="outline">
                                    <mat-label>Startnr</mat-label>
                                    <input #startnr class="input-padding" matInput type="number" name="startnr" [(ngModel)]="startnrInput" #startnr="ngModel" required>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field class="name-search paamelding-field" appearance="outline">
                                    <mat-chip *ngIf="medlemInput" (removed)="clear()">
                                        {{medlemInput.navn}}
                                        <mat-icon matChipRemove>close</mat-icon>
                                    </mat-chip>
                                    <mat-label *ngIf="!medlemInput">Navn</mat-label>
                                    <input class="input-padding" matInput type="text" #navn name="navn" [(ngModel)]="navnInput" [matAutocomplete]="auto" (ngModelChange)="applyFilter($event)" [readonly]="medlemInput">
                                    <!--<button mat-button *ngIf="navnInput" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                                        <mat-icon>close</mat-icon>
                                    </button>-->
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="display" (optionSelected)="selectMedlem($event.option.value); navn.value=''">
                                        <mat-option *ngFor="let medlem of filteredMedlemmer | async" [value]="medlem">
                                            <mat-icon>person</mat-icon>
                                            {{medlem.navn}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-2">
                                <mat-form-field class="paamelding-field" appearance="outline">
                                    <mat-label>Kjønn</mat-label>
                                    <mat-select class="input-padding" [(ngModel)]="kjonnInput" name="kjonn" required>
                                        <mat-option value="M">M</mat-option>
                                        <mat-option value="K">K</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2 center-in-row submit">
                                <button class="add-paamelding" mat-raised-button color="primary" [disabled]="f.invalid" (click)="addPaamelding(); f.reset()">
                                    Legg til
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-card>

                <div class="paameldinger__container">
                    <div class="paameldinger__container__paamelding-card" *ngFor="let paamelding of paameldinger">
                        <app-paamelding [paamelding]="paamelding" (deletePaameldingEvent)="deletePaamelding($event)"></app-paamelding>
                    </div>
                </div>

            </div>
        </mat-card-content>
    </mat-card>
    <div class="nav-row">
        <a class="starttider" routerLink="/opprett">Starttider →</a>
    </div>
    <mat-progress-bar color="accent" mode="determinate" value="25"></mat-progress-bar>
</div>