<mat-chip-list></mat-chip-list> <!--for chip styling-->
<div class="page-container">
    <ngb-alert *ngIf="error$ | async" class="error" type="danger" [dismissible]="false">
        <!--{{error$ | async}}-->
    </ngb-alert>
    <mat-card class="card">
        <mat-card-title class="card__title">
            <div class="card__title__top">
                Tider
                <div class="arrKode">(ArrKode: {{arrKode}})</div>
            </div>
            <div class="card__title__bottom">
                <div class="arrNavn">{{ arrNavn$ | async}}</div>
            </div>
        </mat-card-title>
        <mat-card-content class="card__content">
            <mat-card class="container no-shadow">
                <ngb-alert *ngIf="archived$ | async" [dismissible]="false">
                    <strong>Obs! </strong>Dette arrangementet er mer enn 10 dager gammelt og kan ikke redigeres i tidtakerhjelpen lenger.
                </ngb-alert>
            </mat-card>
            <mat-card class="container prev-page no-shadow">
                <a [routerLink]="['/paameldingsliste']" [queryParams]="{arrKode: arrKode}">
                    <button class="nav-button" mat-raised-button color="primary">← Påmeldingsliste</button>
                </a>
                <a [routerLink]="['/resultatliste']" [queryParams]="{arrKode: arrKode}">
                    <button class="nav-button" mat-raised-button color="primary">Generer resultatliste →</button>
                </a>
            </mat-card>
            <mat-card class="container no-shadow">
                <p>Legg inn starttid og passeringstider, inkludert tid i mål. Hvis du ikke fikk skrevet ned alle passeringstider i farta må du skrive inn samme passeringstid flere ganger for å fylle alle boksene. La en av passeringstidene stå tom for å gi DNF.</p>
            </mat-card>
            <div class="paameldinger">
                <div class="paameldinger__container">
                    <div *ngIf="passeringstider$ | async">
                        <ng-container *ngIf="paameldinger$ | async as paameldinger">
                            <div class="paameldinger__container__paamelding-card" *ngFor="let paamelding of paameldinger">
                                <app-tid [paamelding]="paamelding" 
                                            [passeringstider]="passeringstider$ | async"
                                            [runderKvinner]="runderKvinner$ | async"
                                            [runderMenn]="runderMenn$ | async"
                                            [archived]="archived$ | async" 
                                            (updateStarttidEvent)="updateStarttid($event)"
                                            (updatePasseringstiderEvent)="updatePasseringstider($event)"></app-tid>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>