.prev-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

.paameldingsliste-button {
    margin-left: 10px;
}