<div class="page-container">
    <mat-card class="card">
        <mat-card-title class="card__title">Info</mat-card-title>
        <mat-card-content class="card__content">
            <p>Denne siden er laget for at det skal gå raskere å legge inn resultater etter at man har arrangert hyttekarusell.</p>
            <p>Den er basert på at man bruker PDF-dokumentet <a href="http://org.ntnu.no/langrenn/tidtaker/tidtaker_ark.pdf"><b>tidtaker_ark.pdf</b></a> eller tilsvarende når man tar tiden. 
                Hvis dere er to arrangører lønner det seg at en skriver, mens den andre tar tiden. 
                Skriv bare startnummer og tid underveis, hvis ikke blir det for mye å holde styr på.</p>
            <p>Når du oppretter et nytt arrangement får du en arrangementkode. Hvis du skal gjøre endringer senere kan denne brukes i søkefeltet øverst til høyre.</p>
            <p>Hvis du får problemer, ta kontakt med web-ansvarlig på <a href="mailto:langrenn-web@ntnui.no">langrenn-web@ntnui.no</a> eller Slack.</p>
            <p><b>Trykk på "Opprett nytt arrangement" for å sette i gang.</b></p>
        </mat-card-content>
    </mat-card>
    <div class="nav-row">
        <a class="opprett" routerLink="/opprett">Opprett nytt arrangement →</a>
    </div>
</div>